body {
  font-family: sans-serif;
  margin: auto;
}

.content {
  margin-left: 6%;
  margin-right: 6%;
}
.navbar {
  width: 100%;
}

.footer {
  position:fixed;bottom:0;
  background-color: black;
  color: blueviolet;
  width:100%;
  display:block;
  text-align: center;
}
